<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ title }}
    </title>
    {% if request.args.get('theme') == 'dark' %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/root_dark.css')}}">
    {% else %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/root.css')}}">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="full-wrapper">
        {% include 'includes/header.html' %}
        {% with message = get_flashed_messages(with_categories=true) %}
                {% if message %}
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{category}}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        <div class="container">
            
            {% block content %}
            {% endblock %}
        </div>
        {% include 'includes/footer.html' %}
    </div>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>