<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ title }}
    </title>
    {% if request.args.get('theme') == 'dark' %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/root_dark.css')}}">
    {% else %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/root.css')}}">
    {% endif %}
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'includes/footer.html' %}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>