<header>
    <h2>My Fitness Cat <span>
        <i class="fa-sharp fa-solid fa-cat"></i>
    </span></h2>
    <nav>
        <ul class="nav">
            {% if current_user.is_authenticated %}
            <li><a href="{{url_for('main.get_cats')}}">Your Cats</a></li>
            <li><a href="{{url_for('main.add_cat')}}">Add Cat</a></li>
            <li><a href="{{url_for('auth.logout')}}">
                <span>Logout</span>
                <span>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </span>
            </a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li><a href="{{url_for('auth.login')}}">
                <span>Login</span>
                <span>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </span>
            </a></li>
            <li><a href="{{url_for('auth.register')}}">
                <span>Register</span>
                <span>
                    <i class="fa-solid fa-user-plus"></i>
                </span>
            </a></li>
            {% endif %}
        </ul>
    </nav>
</header>