{% extends 'includes/base.html' %}
{% block content %}
<h1>Register</h1>

<form action="{{url_for('auth.register')}}" method="post">
    <label for="username">
        Username:
    </label>
    <input 
    type="text" 
    name="username" 
    id="username"
    placeholder="Enter Username"
    required/>

    <label for="password">
        Password:
    </label>
    <input
    type="password" 
    name="password" 
    id="password"
    placeholder="Enter Password"
    required/>

    <label for="password_check">
        Re-Enter Password:
    </label>
    <input
    type="password" 
    name="password_check" 
    id="password_check"
    placeholder="Re-Enter Password"
    required/>

    <label for="email">
        Email:
    </label>
    <input
    type="email" 
    name="email" 
    id="email"
    placeholder="Enter Email"
    required/>

    <label for="f_name">
        First Name:
    </label>
    <input
    type="text" 
    name="f_name" 
    id="f_name"
    placeholder="Enter First Name"
    required/>

    <input type="submit"
    value="Register"/>
</form>
{% endblock %}