{% extends 'includes/base.html' %}
{% block content %}
<h1>
    {{found_cat.name}}'s Profile
</h1>
<div class="profile">
    <div class="profile-row">
        <img 
        src="https://th.bing.com/th/id/R.084856970b1ae6eeff0c6a5a37605766?rik=kQCsDiKXhlUzKg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2f4cb%2f6MA%2f4cb6MARgi.png&ehk=TgGnyWu4rH8TvctUFpHarUhIQJf%2fjxsFM0UoxTokenI%3d&risl=&pid=ImgRaw&r=0" alt="{{found_cat.name}}'s image" 
        class="'profile-image"
        height="400"
        width="400"
        loading='lazy'>
        <div class="profile-text">
            {% if found_cat.age_months > 12 %}
            <p>Age: {{found_cat.age}} years</p>
            {% else %}
            <p>Age: {{found_cat.age_months}} months</p>
            {% endif %}
            <p>Weight Kg: {{found_cat.weight}}</p>
            <p>Calories / day: {{found_cat.daily_calories}}kcal</p>
            <p>Grams of dry food per day: {{ found_cat.grams_of_dry }}g</p>
            <p>Grams of wet food per day: {{ found_cat.grams_of_wet }}g</p>

        </div>        
    </div>
</div>
{% endblock %}