{% extends 'includes/base.html' %}
{% block content %}
<div class="page-title">
    <h1>{{user.first_name}}'s Cats</h1>
</div>
{% if cats %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight KG</th>
            <th>Age</th>
            <th>Daily Calories</th>
            <th>Grams of Wet Food</th>
            <th>Grams of Dry Food</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in cats %}
                <tr>
                    <td>
                    {{cat.name}}
                    </td>
                    <td>{{ cat.weight }}kg</td>
                    {% if cat.age > 0 %}
                        <td>{{ cat.age }} years</td>
                    {% else %}
                        <td>{{cat.age_months}} months</td>
                    {% endif %}
                    <td>{{ cat.daily_calories }}Kcal</td>
                    <td>{{ cat.grams_of_wet }}g</td>
                    <td>{{ cat.grams_of_dry }}g</td>
                    <td>
                        <span class="icon">
                            <a href="{{url_for('main.get_cat', cat_id=cat.id)}}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </span> 
                        <span class="icon">
                            <a href="{{url_for('main.delete_cat', cat_id=cat.id)}}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if not cats %}
<p>Add your cat to get started</p>
<a href="{{url_for('main.add_cat')}}">
        Here
</a>

{% endif %}
{% endblock %}