@import url(./header.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--main);
    color: var(--secondary);
}

/* components */

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.full-wrapper {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 80vh;

    padding:1rem 4rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

tr {
    border-bottom: 1px solid var(--secondary);
}

th, td {
    padding: 2rem 1rem;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    color: var(--accent)
}

span.icon {
    display: inline-block;
    padding: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-top:.7rem;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh
}

label {
    display: none;
}

input {
    padding: 1.8rem;
    width: 60vw;
    margin: 1rem;
    display: block;
    border-radius:.5rem;
    font-size: 2rem;
    cursor: text;
}

input[type='submit']{
    padding: 1.25rem;
    cursor: pointer;
}

input[type='submit']:hover{
    background-color: var(--accent);
    color: white;
}