@import url(./main.css);

:root {
    --dark: #58480Eff;
    --accent:  #262429ff;
    --secondary:  #533823ff;
    --white: #fff;

    --main: #0E1E58;
    --info: yellow;
    --error: red;
    --success: green;

    font-size: 16pt;
}