@import url(./main.css);

:root {
    --main: #fff;
    --main-2: #ddddddee;
    --secondary: #000;
    --accent: rgb(31, 4, 150);
    --info: yellow;
    --error: red;
    --success: green;

    font-size: 16pt;
}